* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;;
  color: #333;
  height: 100vh;
}
.container {
  position: relative;
  height: 100%;
}
.login-box {
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 25px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.brand {
  color: #0077cc;
}
.form-box label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
input, button {
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
}
input {
  border: 1px solid #ccc;
  padding: 8px;
  margin-top: 5px;
}
input:focus {
  border-color: #0077cc;
  outline: none;
}
#login-btn {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}
#login-btn:hover {
  background-color: #005fa3;
}
.signup-text {
  display: block;
  text-align: center;
  margin-top: 15px;
}
.signup-text a {
  color: #0077cc;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
  color: #005fa3;
}
h2::after {
  content: " 🏠";
}