body {
    background: #e7f3ff;
}
.rental {
    text-align: center;
    padding: 40px 20px;
    background: #cbe3ff;
}

.rental h1 {
    font-size: 36px;
    color: #004d80;
}

.rental p {
    margin-top: 10px;
    font-size: 18px;
    color: #035a91;
}
.search-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    background: #d8ecff;
}

.search-box input, .search-box select {
    padding: 10px;
    width: 200px;
    border: 1px solid #0099ff;
    border-radius: 5px;
    transition: 0.3s;
}

.search-box input:hover, .search-box select:hover {
    transform: scale(1.05);
}

.search-box button {
    padding: 10px 20px;
    background: #0099ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background: #007acc;
    transform: scale(1.05);
}
.property-section {
    padding: 30px;
}

.property-section h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
    color: #004d80;
}
.layout {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 25px;
    padding: 0 40px;
}
.properties {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.properties:hover {
    transform: translateY(-8px);
}

.properties img {
    width: 100%;
    height: 220px;
}

.properties h3 {
    padding: 5px;
    font-size: 20px;
    color: #004d80;
}

.properties p {
    padding-left:5px;
    color: #333;
}

.price {
    font-weight: bold;
    color: #0077b6;
}
